@import '@styles/variables';

.detail {
    display: flex;
    flex-direction: column;
    
    .detail-description{
        color: $light-gray-font;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-align: left;
        text-transform: uppercase;

        @media (width <= 768px) {
            font-size: 8px;
        }
    }

    .detail-info {
        color: $gray-font;
        font-size: 14px;
        line-height: 21px;
        text-align: left;

        @media (width <= 768px) {
            font-size: 10px;
        }
    }
}