// COLORS
$blue: #2196F3;
$white: #FFF;
$blue: #2196F3;
$app-background: #F3F7FA;
$blue-background: #2196F3;
$white-background: #FFF;
$hover-background: #F1FCFF;
$border-color: #DFE5EC;
$black-font: #211C1C;
$gray-font: #4A4A4A;
$light-gray-font: #A0B0B9;
$white-font: #FFF;
$blue-font: #2196F3;
$check-box-border-color: #9ABBCE;

// Font sizes
$xs-font: 12px;
$s-font: 13px;
$lg-font: 14px;
$xl-font: 24px;


